
<head>
        <title>Graph</title>
        <meta charset="utf-8">
        <style>@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style>
    </head>
    <body>
        <canvas id="temperatureChart" width="400" height="400"></canvas>

        <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>
        <script>
            var ctx = 'temperatureChart';
            var content_data = <%- JSON.stringify(data) %>;
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Temperature over time',
                        data: content_data,
                        borderColor: "#d81b60",
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'minute',
                                parser: function(data) {
                                    console.log('data:', data)
                                    return moment.unix(data)
                                }
                            }
                        }]
                    }
                }
            });
        </script>
    </body>
